mixin menuitem(item)
    - var activeClass = menuHref === item.link ? " is-active" : "";
    - item.subitems ? activeClass += " mainmenu__item--parent" : null;
        li.mainmenu__item(class= activeClass)
            if (item.link === '/')
                a(href= "/")= item.text
            else
                a(href= "/" + item.link + ".html")= item.text

            if block
                block

nav.mainmenu.mainmenu--js
    button.btn-close.mainmenu__close-btn.mainmenu--close.d-lg-none(type="button")

    .logo.logo--mobile.d-lg-none.mb-30
        include ../logo/logo

    ul.mainmenu__list
        each item in mainmenuData
            +menuitem(item)

                if (item.subitems)
                    ul.mainmenu__dropdown
                        each subitem in item.subitems
                            +menuitem(subitem)
