@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

{{#shapes}}
.icon-{{base}} {
    width: math.div({{width.inner}}, {{height.inner}}) * 1em;
}
{{/shapes}}
