.container
	h2.module__title.mb-5
		| Заказать
		|
		span дизайн-проект
		|
		| прямо сейчас

	.row.justify-content-center
		.col-exxl-10.col-xl-13.col-lg.col-md-11
			#orderNow.form.form--order.pb-xl-8.pb-lg-7.pb-5
				form.form__form
					.form__row.row.no-gutters
						.col-lg-5.pr-lg-6
							.form__group.mb-4
								label.form__label(for="name")
									| Имя
									span.text-danger *
								input#name.form__control(name='name', type='text', required)

							.form__group.mb-4
								label.form__label(for="phone")
									| Телефон
									span.text-danger *
								input#phone.form__control.phone-mask(name='phone', type='tel', required)

						.col-lg-8.pb-4
							.form__group
								label.form__label.form__label--textarea(for="mess") Комментарий
								textarea#mess.form__control.form__control--textarea(name="message")

						.col-lg-5.pl-lg-6
							input.mb-4(type="file")
							button.form__submit.btn.btn-success.btn-block.mb-4(type='submit') Отправить
