header.header.py-15.mb-30
    .container
        .row.align-items-center
            .col-3.d-lg-none
                include ../hamburger/hamburger

            .col-xl-4.col-lg-3.col-6.text-center.text-lg-start
                .logo
                    include ../logo/logo

            .col-xl-8.col-lg-9.col-3
                include ../mainmenu/mainmenu
