extends ./base/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block top-position
    section.top-position.mb-5
        .module
            .container
                .module__title Модуль в позиции TOP

block columns
    main.content--right.col-lg-9
        article.page.textblock
            h1.mb-5 !{title}

            a.btn.btn-primary.mfp-form--js(href="#callback") Заказать звонок

        //-pagination
        include ./components/pagination/pagination

    //- Include sidebar
    include ./components/sidebar/sidebar--left


block bottom-position
    section.bottom-position.mt-5
        .module
            .container
                .module__title Модуль в позиции BOTTOM



