include ../mixins/pug/svg-icon
block variables
    -
        var baseDir = './';

doctype html
html(lang="ru")
    //- Include head
    include ./pug/head

    body(class=pageClass)
        .wrapper

            .wrapper__content
                //- Include header
                include ../components/header/header

                block top-position

                .container
                    if(pageClass != 'homepage')
                        //- Breadcrumbs
                        nav.breadcrumbs
                            ul.breadcrumbs__list
                                li
                                    a(href="/") Главная
                                    span.breadcrumbs__divider /

                                li.is-active #{title}

                    .row
                        block columns

                block bottom-position

            //- Include footer
            include ../components/footer/footer

        //- Include callback
        include ../components/form/form--callback

        .d-none
            include ../../dist/images/sprite.svg

        //a.go-top(href='#', style='display:none;')
        //    +icon('arrow-up')

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src=`${baseDir}js/main.js`)

        block script
